* {
  box-sizing: border-box;
}

html,
body {
  -webkit-tap-highlight-color: #0000;
  background-color: #65E892;
  margin: 0;
}

#container {
  display: flex;
  width: 75%;
  height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #333;
}

#container > img {
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
}

#container > h1 {
  font-size: 1.5em;
  text-align: center;
}

#container > a {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #3994D6;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #222;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

#container > a:hover {
  background-color: #354ABF;
}

#container > a:active{
  background-color: #3D289B;
}